<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
    <title>DASHBOARD</title>
</head>

<body>
    <div class="container-fluid">
        <br>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a href="/biodata" class="btn btn-primary">TAMBAH DATA</a>
        </div>
        <br>
        <br>
        <h1>LIST NAMA</h1>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">username</th>
                    <th scope="col">Tanggal Register</th>
                    <th scope="col">Tanggal terakhir Bermain</th>
                    <th scope="col">Aksi</th>
                </tr>
            </thead>
            <tbody>
                <% users.forEach(i=> { %>
                    <tr>
                        <th scope="row">
                            <%= i.id %>
                        </th>
                        <td>
                            <%= i.username %>
                        </td>
                        <td>
                            <%= i.createdAt %>
                        </td>
                        <td>
                            <%= i.updatedAt %>
                        </td>
                        <td>
                            <form action="/edit/user/<%= i.id %>" method="GET">
                                <button type="submit" name="submit" class="btn btn-warning">Edit </button>
                            </form>
                            <form action="/delete/user/<%= i.id %>" method="GET">
                                <button type="submit" name="submit" class="btn btn-danger">Delete </button>
                            </form>
                        </td>
                        <% })%>
                    </tr>
            </tbody>
        </table>
    </div>
</body>

</html>