<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Link to Dashboard</title>
</head>

<body>
    <div class="row d-flex justify-content-center" ;>
        <div class=" col-sm-6">
            <div class="card">
                <img src="/img/home/rockpaperstrategy-1600.jpg" class="card-img-top">
                <div class="card-body">

                    <form action="/dashboard" method="GET">
                        <div class="row mb mx-auto">
                            <label for="username" class="col-sm-6 col-form-label">Anda telah berhasil menghapus 1
                                Akun<strong>
                                </strong></label>
                            <div class="col-sm-6 mx-auto">
                                <button type="submit" name="submit" class="btn btn-primary">Masuk ke Dashboard</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>

</html>