<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>LOGIN PAGE</title>
</head>

<body>

    <div class="row d-flex justify-content-center" ;>
        <div class=" col-sm-6">
            <div class="card">
                <img src="/img/home/rockpaperstrategy-1600.jpg" class="card-img-top" alt="...">
                <div class="card-body">

                    <form action="/login" method="POST">
                        <div class="row mb-3 mx-auto">
                            <label for="username" class="col-sm-2 col-form-label">Username</label>
                            <div class="col-sm-10 mx-auto">
                                <input type="text" class="form-control" id="username" name="username">
                            </div>
                        </div>
                        <div class="row mb-3 mx-auto">
                            <label for="password" class="col-sm-2 col-form-label">Password</label>
                            <div class="col-sm-10 mx-auto">
                                <input type="password" class="form-control" id="password" name="password">
                            </div>
                        </div>

                        <button type="submit" name="submit" class="btn btn-primary">SIGN IN</button>
                    </form>
                </div>
            </div>
        </div>
    </div>









    <!-- <form>
        <div class="row mb-3">
            <label for="username" class="col-sm-2 col-form-label">Username</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="username">
            </div>
        </div>
        <div class="row mb-3">
            <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="inputPassword3">
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-sm-10 offset-sm-2">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheck1">
                    <label class="form-check-label" for="gridCheck1">
                        Remind me
                    </label>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Sign in</button>
    </form> -->

</body>

</html>