<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
    <title>Biodata User</title>
</head>

<body>
    <div class="card bg-dark text-white">
        <div class="card-body">

            <h1 class="display-1 container-fluid text-center">BIODATA USER</h1>
            <br>
            <p class="lead container-fluid">
                Semua data yang dimasukkan akan dijamin kerahasiaannya. Terima kasih.
            </p>

            <form class="row g-3 container-fluid" action="/update/user/<%= biodata.id%>" method="POST">
                <div class="col-md-4">
                    <label for="inputName" class="form-label">username</label>
                    <input type="text" class="form-control" id="inputName" name="username"
                        value="<%= biodata.username %>">
                </div>
                <div class="col-md-4">
                    <label for="inputPassword4" class="form-label">Password</label>
                    <input type="password" class="form-control" id="inputPassword4" name="password"
                        value="<%= biodata.password %>">
                </div>

                <div class="col-12">
                    <a href="/dashboard" class="btn btn-secondary">Batalkan</a>

                    <button type="submit" name="submit" class="btn btn-primary">Ganti Data</button>

                </div>
            </form>
        </div>
    </div>







</body>

</html>


<!-- <form class="row gy-2 gx-3 align-items-center container-fluid" action="/user/biodata" method="POST">
                <div>
                    <div class="row mb-3 mx-6">
                        <label for="username" class="col-sm-2 col-form-label">Username</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="username" name="username">
                        </div>
                    </div>
                    <div class="row mb-3 mx-6">
                        <label for="password" class="col-sm-2 col-form-label">Password</label>
                        <div class="col-sm-4">
                            <input type="password" class="form-control" id="password" name="password">
                        </div>
                    </div>
                </div>
                <br>
                <div class="col-auto">
                    <label class="visually-hidden" for="autoSizingSelect">Gender</label>
                    <br>
                    <select class="form-select" id="autoSizingSelect" name="gender">
                        <option selected>Choose...</option>
                        <option value="Pria">Pria</option>
                        <option value="Wanita">Wanita</option>
                    </select>
                </div>
                <div class="col-auto">
                    <label class="visually-hidden" for="autoSizingInput">Tanggal Lahir</label>
                    <input type="date" class="form-control" id="autoSizingInput" name="date_of_birth">
                </div>
                <div class="col-auto">
                    <label class="visually-hidden" for="autoSizingInput">Kota Kelahiran</label>
                    <input type="text" class="form-control" id="autoSizingInput" name="city_of_birth">
                </div>

                <div class="col-auto">
                    <label class="visually-hidden" for="autoSizingInput">Pekerjaan</label>
                    <input type="text" class="form-control" id="autoSizingInput" name="job">
                </div>
                <div class="col-auto">
                    <br>
                    <button type="submit" class="btn btn-primary">SIMPAN</button>
                </div>
            </form> -->